*{
    margin: 0;
    padding: 0;
}

.header {
    background-color: rgb(222, 245, 222);
    height: 6em;
}

.header .edit {
    /* position: relative; */
    top: 1em;
    /* text-align: center; */
    text-decoration:overline;
    font-family: 'Poppins', sans-serif;
}

.list{
    width: 25em;
    height: 16em;;
}

.list button {
    position: relative;
    left: 15em;
    bottom: 2em;
}

.list li{
    text-decoration: none;
    list-style-type: none ;
    line-height: 2em;
    font-size: 1.2em;
}

.list #tasks {
    position: relative;
    right: 10px;
}

.list #history{
    position: relative;
    left: 10px;
}

.d-grid .btn{
    background-color:rgb(190, 222, 255);
    
    
}

.basic {
    border: 1px solid blue;
}

.important {
    border: 1px solid orange;
}

.extreme {
    border: 1px solid red;
}

.body{
    background-color:rgb(173, 227, 226);
}